<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/timeline.css" media="screen">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Angular-media-timeline</title>
  </head>

  <body ng-app="demo">
    <header>
      <div class="inner">
        <h1>Angular-media-timeline</h1>
        <h2></h2>
        <a href="https://github.com/nbellocam/angular-media-timeline" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h3>
            <a id="timeline-sample" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"></a>Timeline sample</h3>

          <section id="sample-content">
          	<div ng-controller="DemoTimelineGroupCtrl" style="height:100px;">
          		<button ng-click="tick = 100;"></button>
              <input type='number' ng-change='internalTickChange()' ng-model='tick'></input>

              <input type='checkbox' ng-model='disable'></input>

              <span>{{tick}}</span>
              <button ng-click="addTimeline()">Add timeline</button>
          		<animates-timelines data="timelines" style="height: 200px;" tick="tick" is-disable="disable"
                tick-change="onTickChange(tick);"
                point-move="onPointMove(timelineData, eventData, pointData, newTick)"
                point-click="onPointClick(timelineData, eventData, pointData)"
                multiplepointevent-selected="onMultiplePointEventSelected(timelineData, eventData)"
                event-startchange="onEventStartChange(timelineData, eventData, newStartTick)"
                event-durationchange="onEventDurationChange(timelineData, eventData, newDuration)"
                event-click="onEventClick(timelineData, eventData)"
                tick-ratio="30";
              ></animates-timelines>
          	</div>
          </section>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/nbellocam/angular-media-timeline/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/nbellocam/angular-media-timeline/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/nbellocam/angular-media-timeline"></a> is maintained by <a href="https://github.com/nbellocam">nbellocam</a> (twitter: <a href="https://twitter.com/nbellocam">@nbellocam</a> ) and <a href="https://github.com/KidD32">KidD32</a> .</p>
        </aside>
      </div>
    </div>


    <script type="text/javascript" src="javascripts/angular.min.js"></script>

    <script type="text/javascript" src="javascripts/timeline.js"></script>

    <script type="text/javascript" src="javascripts/main.js"></script>

  </body>
</html>
