.timelines-group {
  width : 100%;
  height: 100%;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  white-space: nowrap;
  background-color: #F0F0F5;

  .time-nav-indicator {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    top: 0px;
    background-color: blue;
    box-shadow: 0px 0px 3px #888897;
  }

  .time-nav-indicator > .time-nav-hand
  {
    border-radius : 50px;
    background-color : green;
    height : 10px;
    width : 10px;
  }
  .timelinesHeaders {
    width: 150px;
    vertical-align: top;
    display: inline-block;
    background-color: gray;
    color: white;
    border-right: 1px black dashed;

    .timeline-header {
      border-top: 1px dotted lightgray;
      background-color : #999;
      vertical-align: middle;
      overflow: hidden;
      position: relative;
      background: rgb(255,255,255); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

      span {
        top: 50%;
        height: 18px;
        margin-top: -9px; /* = height/2 */  
        position: absolute;
        padding-left: 5px;
        color: #888;
      }
    }
  }
  .timelinesContainer {
    vertical-align: top;
    display: inline-block;
    position: relative;
    overflow-x: auto;
    width: 100%;

    animates-timeline {
      display : block;
      position : relative;
      border-top: 1px dotted grey;

      .timeline-content {
        overflow: hidden;
        white-space: nowrap;
        height: 100%;
      }

      &.events {
        height: 30px;
        max-height: 30px;
        min-height: 30px;

        .timeline-event {
          display: inline-block;
          position: absolute;
          height: 90%;
          background-color: #F0FFE0;
          border: 1px solid #7A995C;
        }
      }
      
      &.points {
        height: 15px;
        max-height: 15px;
        min-height: 15px;
        background-color: #DFE1E8;

        animates-timelinepoint {
          background-color: #FF4D4D;
          border-radius: 10px;
          height: 8px;
          width: 8px;
          position: absolute;
          top: 3px;
          border: 1px solid white;
        }
      }
    }
  }
}