<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>angular-timeline</title>

	<link rel="stylesheet" href="dist/styles/timeline.css"/>

	<style type="text/css">
		.timeline-event.fade-out {
		  background-color: red;
		}
		.timeline-event.fade-in {
		  background-color: lightgreen;
		}
	</style>

</head>
<body ng-app="demo" >
	<div ng-controller="DemoTimelineGroupCtrl" style="height:100px;">
		<button ng-click="tick = 100;"></button>
    <input type='number' ng-change='internalTickChange()' ng-model='tick'></input>

    <input type='checkbox' ng-model='enable'></input>

    <span>{{tick}}</span>
		<animates-timelines data="timelines" tick="tick" is-enable="enable"
      tick-change="onTickChange(tick);"
      point-move="onPointMove(timelineData, pointData, newTick)"
      point-click="onPointClick(timelineData, pointData)"
      multiplepointevent-selected="onMultiplePointEventSelected(timelineData, eventData)"
      event-startchange="onEventStartChange(timelineData, eventData, newStartTick)"
      event-durationchange="onEventDurationChange(timelineData, eventData, newDuration)"
      event-click="onEventClick(timelineData, eventData)"
    ></animates-timelines>
	</div>

  <!-- bower:js -->
  <script src="../bower_components/angular/angular.js"></script>
  <!-- endbower -->

	<script type="text/javascript" src="/dist/js/timeline.js"></script>

	<script type="text/javascript" src="/examples/examples.js"></script>

</body>
</html>
